.row-wrapper {
  overflow: hidden;
  padding: 16px;
}

.card-cover-wrapper {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden; 
  height: 200px;
  text-align: center;
}
